body {
    margin: 0;
}

.body {
    position: relative;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.body[data-unscrollable="true"] {
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}