.title {
    border-radius: 0px 9999px 9999px 0px;
    border: 2px solid #40888B;
    border-left: none;
    font-size: 1.5rem;
    color: #40888B;
    padding: 10px 30px;
    width: fit-content;
    background-color: white;
}