---
import Layout from "../layouts/Layout.astro";

import Base from "../layouts/Base";
import Title from '../components/Title';
import Info from '../components/Info';
import SponsorList from '../components/SponsorList';
import SponsorCard from '../components/SponsorCard';
---
<Layout title="ご協賛企業紹介 | 蒼翔祭">
	<Base>
		<div style="width: 100%;">
			<Title>協賛企業紹介</Title>
		</div>
		<Info>
            会津大学学園祭 蒼翔祭に
            ご協賛いただいている企業を紹介いたします。
            蒼翔祭開催に向けてご協力・ご支援をいただき、
            誠にありがとうございます。
		</Info>
        <SponsorList>
            <SponsorCard>酒屋 盃燗処</SponsorCard>
            <SponsorCard>渋川問屋</SponsorCard>
            <SponsorCard>三洋印刷株式会社</SponsorCard>
            <SponsorCard>ラーメン二郎</SponsorCard>
            <SponsorCard>居酒屋 よしむら</SponsorCard>
            <SponsorCard>丸長本店 蔵の店</SponsorCard>
            <SponsorCard><span>チャイナレストラン</span><span>ジャスミン</span></SponsorCard>
            <SponsorCard>ツルカメ建設株式会社</SponsorCard>
            <SponsorCard>のみくい處 作蔵 中央店</SponsorCard>
            <SponsorCard>株式会社 栄町オサダ</SponsorCard>
            <SponsorCard><span>株式会社</span><span>リオンドールコーポレーション</span></SponsorCard>
            <SponsorCard>ゑびす亭</SponsorCard>
            <SponsorCard>きむらや。</SponsorCard>
            <SponsorCard>マルハン一箕町店</SponsorCard>
            <SponsorCard>ラビットハッチ</SponsorCard>
            <SponsorCard><span>セブンイレブン </span><span><span>会津大町一丁目店</span><span>会津飯盛山店</span></span></SponsorCard>
            <SponsorCard>こばやし紙店</SponsorCard>
            <SponsorCard><span>株式会社</span><span>スチューデントライフサポート</span></SponsorCard>
            <SponsorCard>浅沼産業株式会社</SponsorCard>
            <SponsorCard>珈琲館ひろ</SponsorCard>
            <SponsorCard><span>会津若松市</span><span>一般産業廃棄物協業組合</span></SponsorCard>
            <SponsorCard><span>株式会社</span><span>あいづダストセンター</span></SponsorCard>
            <SponsorCard>馬力本願</SponsorCard>
            <SponsorCard>鶴乃江酒造株式会社</SponsorCard>
            <SponsorCard>MHIさがみハイテック</SponsorCard>
        </SponsorList>
	</Base>
</Layout>