.wrapper {
    width: calc(100% - 20px);
}

.center {
    text-align: center;
    margin: 10px 0;
}

.list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

@media screen and (min-width: 350px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 780px) {
    .list {
        grid-template-columns: repeat(3, 1fr);
    }
}