---
import '../common.css';

import HeaderDrawer from "../components/HeaderDrawer";
import Footer from "../components/Footer";

const { title } = Astro.props;
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@700&display=swap&text=会場マップ開催イベント" rel="stylesheet" />
	</head>
	<body>
        <HeaderDrawer client:load/>
        <slot />
        <Footer />
	</body>
</html>